@font-face {
  font-family: "Fredoka";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./assets/fonts/FredokaOne-Regular.otf") ;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Raleway-SemiBold.ttf") ;
}

@media (min-width: 600px) {
  body {
    font-size: 14px;
  }
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}


body {
  font-family: "Raleway";
  background-color:  #1e272e;;
  color: #d1c1a8;
}

.registration-form {
  padding: 50px 0;
}

.registration-form form {
  // border-color: #d1c1a8;
  border: 1px solid #d1c1a8;
  max-width: 600px;
  margin: auto;
  padding: 10% 20%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  // box-shadow: 0px 2px 10px #d1c1a8;
}

.registration-form .form-icon {
  text-align: center;
  background:transparent;
  border-radius: 50%;
  font-size: 40px;
  color:  #d1c1a8;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
  padding: 0px;
}

.registration-form .item {
  border: 0px;
  border-bottom: 0.5px solid #d1c1a8;;
  margin-bottom: 5px;
  background: transparent;
  font-size: 20px;
  color:#d1c1a8;
}

.landing-button{
  background: transparent;
  color:  #d1c1a8;
  text-align: center;
}

#get_a_room{
  text-decoration: underline;
  margin:15px;
  color:  #d1c1a8;
  margin-top: 15px;
  font-size: 20px;
}

#get_a_room:focus{
  text-decoration: underline;
  background: transparent;
  color:  #d1c1a8;
  border: 0px;
}

.registration-form .landing-button {
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  border: none;
  color: #d1c1a8;
  margin-top: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  // box-shadow: 1px 1px 1px 1px #d1c1a866;
  margin: 10px;;
  margin-top: 8%;
}

.form-control:focus {
  border-color: #d1c1a8;
  box-shadow: none;
}

.Input {
  position: relative;
  margin-bottom: 25px;

  // margin:auto;
}

.Input-text {
  display: block;
  margin: 0;
  width: 100%;
  color: #d1c1a8;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #d1c1a8;;
}

.Input-text:focus{
  color: #d1c1a8;
  background: transparent;
}

.Input-label {
  display: block;
  position: absolute;
  text-align: right;
  opacity: 0;
  font-size: 12px;
  float: right;
}

.Input-text:placeholder-shown + .Input-label {
  visibility: hidden;
  z-index: -1;
  border:none;
  color: #d1c1a8;
  background: transparent;
  
}

.Input-text:not(:placeholder-shown) + .Input-label,
.Input-text:focus:not(:placeholder-shown) + .Input-label {
  visibility: visible;
  z-index: 1;
  color: #d1c1a8;
  opacity: 1;;
  background: transparent;
}

.container {
  padding-top: 100px;
  padding-bottom: 50px;
}

#navigation{
  width: 100%;
  height: 70px;
  padding-top: 12px;
  margin:  0px;
  font-family: "Fredoka";
  font-size: 30px;
  text-align: center;
  position: fixed;
  background-color: #091918; ;
  box-shadow: 3px 2px 15px #091918;
}


#navigation a{
  color:#d1c1a8;
}